In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('refugiados_planilha.xlsx')

In [3]:
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

In [5]:
df.shape

(11656, 5)

In [6]:
df.dtypes

Tipo de Alertas e Restrições    object
Nacionalidade                   object
Mês/Ano                         object
UF                              object
Quantidade                       int64
dtype: object

In [15]:
df.groupby(df['Nacionalidade']).count()

               Tipo de Alertas e Restrições  Mês/Ano   UF  Quantidade
Nacionalidade
AFEGANISTÃO                              98       98   98          98
ALBÂNIA                                   4        4    4           4
ALEMANHA                                  8        8    8           8
ANDORRA                                   2        2    2           2
ANGOLA                                  343      343  343         343
...                                     ...      ...  ...         ...
ZAIRE                                    23       23   23          23
ZIMBÁBUE                                  7        7    7           7
ZÂMBIA                                    6        6    6           6
ÁFRICA DO SUL                            89       89   89          89
ÍNDIA                                   147      147  147         147

[165 rows x 4 columns]

In [64]:
df.groupby(['UF'])['Quantidade'].sum()

UF
AC    10025
AL       45
AM    18281
AP      213
BA      241
CE      912
DF     4670
ES      236
GO      735
MA      106
MG      904
MS      661
MT     1051
PA      286
PB       52
PE      188
PI       16
PR     5316
RJ     4029
RN      118
RO      590
RR    81035
RS     4706
SC     4941
SE       37
SP    38595
TO       48
Name: Quantidade, dtype: int64

In [41]:
# transformando coluna mês/ano em datetime object
df['Mês'] = (pd.to_datetime(df['Mês/Ano'])).dt.month
df['Ano'] = (pd.to_datetime(df['Mês/Ano'])).dt.year

In [47]:
df = df.drop('Mês/Ano', axis=1)

In [49]:
df.sample(10)

,Tipo de Alertas e Restrições,Nacionalidade,UF,Quantidade,Mês,Ano
5865,SOLICITAÇÃO DE REFÚGIO,HAITI,SP,120,4,2018
7381,SOLICITAÇÃO DE REFÚGIO,NICARÁGUA,SP,2,3,2017
7049,SOLICITAÇÃO DE REFÚGIO,MAURITÂNIA,RS,1,3,2014
2733,SOLICITAÇÃO DE REFÚGIO,COSTA DO MARFIM,SP,4,10,2018
5589,SOLICITAÇÃO DE REFÚGIO,HAITI,SC,13,1,2016
3888,SOLICITAÇÃO DE REFÚGIO,ERITRÉIA,SP,2,9,2018
8839,SOLICITAÇÃO DE REFÚGIO,REPÚBLICA DEMOCRÁTICA DO CONGO,SP,1,12,2018
11085,SOLICITAÇÃO DE REFÚGIO,VENEZUELA,RJ,19,9,2017
1574,SOLICITAÇÃO DE REFÚGIO,CHILE,RR,1,2,2019
3066,SOLICITAÇÃO DE REFÚGIO,CUBA,DF,7,7,2016

In [68]:
df.groupby('Nacionalidade')['Quantidade'].sum().sum()

178037

In [66]:
df.groupby('Nacionalidade')['Quantidade'].sum().sort_values(ascending=False)

Nacionalidade
VENEZUELA                 95554
HAITI                     17494
SENEGAL                    8555
CUBA                       7741
ANGOLA                     5297
                          ...
BUTÃO                         1
BÉLGICA                       1
BÓSNIA E HERZEGOVINA          1
ST. PIERRE ET MIQUELON        1
GABÃO                         1
Name: Quantidade, Length: 165, dtype: int64

In [99]:
df = df.drop('Total de Solicitações', axis=1)

In [100]:
df.head()

  Tipo de Alertas e Restrições Nacionalidade  UF  Quantidade  Mês   Ano
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  DF           1   12  2001
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  DF           1    1  2010
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  DF           2    3  2010
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  SP           2    3  2010
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  DF           1    8  2010

In [169]:
ano_2019 = df.groupby(['Ano', 'Nacionalidade'])['Quantidade'].sum().to_frame().reset_index()
ano_2019 = ano_2019.loc[ano_2019['Quantidade'] > 500]
ultimos_anos = ano_2019.loc[ano_2019['Ano'] >= 2016]
ultimos_anos

       Ano Nacionalidade  Quantidade
703   2016        ANGOLA        1184
721   2016          CUBA        1117
784   2016     VENEZUELA        2999
792   2017        ANGOLA        1959
798   2017    BANGLADESH         507
809   2017         CHINA        1362
816   2017          CUBA        2011
841   2017         HAITI        2262
868   2017       NIGÉRIA         501
884   2017       SENEGAL        1206
892   2017         SÍRIA         749
902   2017     VENEZUELA       17033
912   2018        ANGOLA         670
919   2018    BANGLADESH         946
931   2018         CHINA        1450
938   2018          CUBA        2741
961   2018         HAITI        6977
1038  2018     VENEZUELA       61618
1063  2019          CUBA        1033
1080  2019         HAITI        1691
1127  2019     VENEZUELA       12932

In [167]:
import altair as alt

In [229]:
alt.Chart(ultimos_anos).mark_bar().encode(
    x=alt.X('Ano:N'),
    y=alt.Y('Quantidade:Q', stack='normalize', title='Porcentagem de solicitações', axis=alt.Axis(format='%')),
    color=alt.Color('Nacionalidade', scale=alt.Scale(scheme='set3'))
)

alt.Chart(...)

In [234]:
estados = df.groupby(['UF'])['Quantidade'].sum().to_frame().reset_index()
estados = estados.loc[estados['Quantidade'] > 500]
estados

    UF  Quantidade
0   AC       10025
2   AM       18281
5   CE         912
6   DF        4670
8   GO         735
10  MG         904
11  MS         661
12  MT        1051
17  PR        5316
18  RJ        4029
20  RO         590
21  RR       81035
22  RS        4706
23  SC        4941
25  SP       38595

In [255]:
alt.Chart(data=estados, title='Solicitações por UF em toda a série histórica').mark_bar().encode(
    x=alt.X('UF', title='Unidade Federativa'),
    y=alt.Y('Quantidade', title='Quantidade de solicitações'),
    color=alt.Color('UF', scale=alt.Scale(scheme='set1'))

)

alt.Chart(...)

In [256]:
# solicitações ao longo dos anos

In [285]:
anoss = df.groupby(['Ano'])['Quantidade'].sum().to_frame().reset_index()
anoss = anoss.loc[anoss['Ano'] >= 2006]
anoss

     Ano  Quantidade
8   2006         534
9   2007         259
10  2008         410
11  2009         505
12  2010         621
13  2011        1479
14  2012        1350
15  2013        6856
16  2014       11128
17  2015       16006
18  2016        8739
19  2017       32030
20  2018       79921
21  2019       17395

In [293]:
alt.Chart(data=anoss, title='Evolução das solicitações ao longo do tempo').mark_line().encode(
    x=alt.X('Ano:N', title='Ano'),
    y=alt.Y('Quantidade:Q', title='Quantidade de solicitações'),
)

alt.Chart(...)

In [317]:
ven = df[df['Nacionalidade'] == 'VENEZUELA'].groupby(['Nacionalidade', 'Ano'])['Quantidade'].sum().to_frame().reset_index()
ven = ven.loc[ven['Ano'] >= 2013]
ven

   Nacionalidade   Ano  Quantidade
6      VENEZUELA  2013          49
7      VENEZUELA  2014         191
8      VENEZUELA  2015         721
9      VENEZUELA  2016        2999
10     VENEZUELA  2017       17033
11     VENEZUELA  2018       61618
12     VENEZUELA  2019       12932

In [340]:
alt.Chart(data=ven, title='Solicitações de venezuelanos nos últimos anos').mark_line(color='#eb4034', size=2.6).encode(
    x=alt.X('Ano:N', title='Ano', axis=alt.Axis(grid=True)),
    y=alt.Y('Quantidade:Q', title='Quantidade de solicitações')
).properties(
    width=450,
    height=350
)

alt.Chart(...)